span.altapay-payment-method {
    width: 100%;
    display: block;
    padding-right: 1em;
}
span.altapay-payment-method img, #payment .payment_methods li img {
    float: none !important;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    max-width: 55px !important;
}
span.altapay-payment-method span, #payment .payment_methods li span {
    float: right;
}
span.altapay-payment-method span, #payment .payment_methods li label {
    overflow: hidden;
}